@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


#cabeçalho{
    background-color: rgb(155, 35, 253);;
    padding: 30px;
    text-align: center;
    color: rgba(236, 218, 255, 0.979);
    width: 100%;
    position: sticky;
    top: 0px;   
}

h1{
    font-size: 44pt;
    padding-bottom: 10px;
}

h2{
    color: rgb(136, 0, 255);  
    background-color: rgba(154, 106, 202, 0.406);
    width: 300px;
    margin: 10px;
    font-style: italic;
    padding: 10px;
    border-radius: 5px;
}

p{
    text-align: justify;
    line-height: 15pt;
}

nav ul{
    display: flex;
    justify-content: center;
}

section ul li{
    margin-bottom: 13px;
}

nav ul li{
    margin-left: 20px;
    font-size: 20pt;
}

nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
    color: rgb(221, 0, 255);
}

ul{
    list-style: none; 
    margin-top: 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgba(141, 1, 247, 0.631);
    font-weight: bold;
    border: 1px solid rgba(137, 43, 226, 0.038);
    border-radius: 10px;
    background-color: rgba(199, 173, 241, 0.95);
    padding: 3px;
}

section ul li a{
    text-decoration: none;
    color: rgb(70, 0, 160);
    font-weight: bold;
}
section p strong a{
    text-decoration: none;
    color: rgb(70, 0, 160);
    font-weight: bold;
}

.margem_itens_navegação{
    margin-bottom: 0px; 
    margin-top: 20px;
}

.estilo_imagens{
    width: 565px;
}

strong{
    color: rgb(70, 0, 160);
    font-weight: bold;
    background-color: rgba(225, 32, 255, 0.126);
    border-radius: 10px;
    padding: 3px;
}

.quebra_de_linha{
    display: block;
}

footer{
    background-color: rgb(156, 53, 230);
    font-size: 20pt;
    color: aliceblue;
}

footer p{
    text-align: center;
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(237, 5, 254, 0.247);
    padding: 8px;
    border-radius: 10px;

}

footer a:hover{
    transition: 0.6s;
    text-decoration: underline;
    color: rgb(165, 198, 253);
    font-weight: bold;
    
}

.caixa_descrição{
    border: 1px solid rgb(211, 154, 255);
    background-color: rgba(235, 156, 255, 0.403);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

main{
    box-shadow: 2px 2px 3px 3px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.conteiner{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(131, 19, 236, 0.963);
    gap: 5px;
    border: 5px solid rgba(131, 19, 236, 0.963);;
    
}
.conteiner > p{
    background-color: rgb(190, 150, 241);
    padding: 10px;
    text-align: start;
}
.conteiner > ul{
    background-color: rgb(190, 150, 241);
    padding: 10px;
    text-align: start;
}
.conteiner > div{
    background-color: rgb(190, 150, 241);
    padding: 10px;
    text-align: start;
}

#espaço_mais_informações{
    position: absolute;
    top: 1200px;
    right: 20px;
    height: 740px;
    width: 160px; 
}

@media (max-width: 1006px){
    #espaço_mais_informações{
        height: 1067px;
    }   
}


#mais_informações{
    position: sticky;
    top: 900px;
    background-color: rgba(127, 86, 239, 0.96);
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    color: rgb(236, 217, 255);
    padding: 8px;
    border-radius: 10px;
}

#botao{
    margin: 12px;
    background-color: rgba(240, 248, 255, 0.677);
    height: 30px;
    width: 120px;
    color: rgb(136, 0, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#botao:hover{
    background-color: aliceblue;
    color: rgb(221, 0, 255);
}
#bandeira_do_chile{
    position: absolute;
    z-index: 1;
}

#bandeira_do_chile > img{
    width: 100px;
}